<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tstdct.testkotlin">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/company_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/company_logo_round"
        android:supportsRtl="true"
        android:name=".App"
        android:theme="@style/AppTheme">
        <activity android:name=".a_uicontroller.activity.Activity_NoteList">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".a_uicontroller.activity.Activity_NoteContent"/>

        <activity android:name="com.yalantis.ucrop.uicontroller.Activity_Camera"/>
        <activity android:name="com.yalantis.ucrop.uicontroller.Activity_Gallery"/>
        <activity android:name="com.yalantis.ucrop.uicontroller.Activity_Preview"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>